body {
    font-family: Arial, Helvetica, sans-serif;
    font: #777777;
    background-color: #ffffff;
}

.Heading {
    background-color: #4aaaa5;
    float: left;
    position: fixed;
    top: 0;
    text-align: center; 
    border-color: #cccccc;
    padding: 15px;
}

.navButtons {
    position: relative;
    top: 0;
    padding: 15px;
    text-align: right;
    margin: 20px 20px 50px 20px;
    width: 960px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#AboutMe {
    padding: 5px;
    background: #ffffff;
    border-color: #dddddd;
}
h2 {
    clear:both;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#image {
    float: left;
    padding: 20px;
}



/*Contact HTML Styling -- from w3schools*/
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #0c4e85;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.footer {
    padding: 20px;
    background-color: #666666;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#Photos {
    padding: 20px;
    background-color: #4aaaa5;
    width: 200px;
}

#Hangman {
    padding: 20px;
}
